<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>취미 게시글</title>
    <style>
        .container {
            text-align: center;
            margin-top: 50px;
        }
        .header span {
            margin: 0 15px;
        }
        .table-container {
            margin-top: 30px;
            padding: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
<div class="container">
    <div style="text-align: center; margin-top: 100px;">
        <h2>취미 게시글</h2>
        <span style="float: right;">
                <a href="#">로그아웃</a>
                <a href="#" style="margin-left: 15px;">글작성하기</a>
        </span>
    </div>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post:${posts}">
                <td th:text="${post.postId}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>