<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 수정하기</title>
</head>
<body>
<div style="text-align: center; margin-top: 100px;">
    <h2>글 수정하기</h2>
    <form>
        <div style="margin-top: 20px;">
            <label>제목</label>
            <input type="text"/>
        </div>

        <div style="margin-top: 10px;">
            <label>내용</label>
            <textarea></textarea>
        </div>
        <div style="margin-top: 20px;">
            <button type="submit">수정하기</button>
        </div>
    </form>
    <div style="margin-top: 10px;">
        <button>취소</button>
    </div>
</div>
</body>
</html>