<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 수정하기</title>
</head>
<body>
<div style="text-align: center; margin-top: 100px;">
    <h2>글 수정하기</h2>
    <form id="postEditForm">
        <div style="margin-top: 20px;">
            <label for="title">제목</label>
            <input type="text" id="title" name="title">
        </div>
        <div style="margin-top: 10px;">
            <label for="content">내용</label>
            <textarea id="content" name="content"></textarea>
        </div>
        <div style="margin-top: 20px;">
            <button type="button" th:onclick="'submitEdit(' + ${postId} + ');'">수정하기</button>
        </div>
    </form>
    <div style="margin-top: 10px;">
        <button type="button" onclick="location.href='home.html'"
                th:onclick="|location.href='@{/}'|">취소</button>
    </div>
</div>

<script>
    function submitEdit(postId) {
        const form = document.getElementById('postEditForm');

        const formData = {
            postId : postId,
            title: form.title.value,
            content: form.content.value
        };

        fetch(`/post/edit/${postId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
            .then(response => {
                if (response.ok) {
                    alert("글 수정에 성공했습니다!");
                    window.location.href = '/post';
                } else {
                    return response.json().then(data => {
                        alert("에러: " + data.map(error => error.defaultMessage).join("\n"));
                    });
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("글 수정 중 오류가 발생했습니다.");
            });
    }
</script>

</body>
</html>