<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>취미 페이지</title>
</head>
<body>
<div style="text-align: center; margin-top: 100px;">
    <div>
        <h2>메인 화면</h2>
        <button onclick="location.href='login.html'"
                th:onclick="|location.href='@{/login}'|"
                type="button">로그인하기</button>
    </div>
    <div style="margin-top: 50px;">
        <button onclick="location.href='postlist.html'"
                th:onclick="|location.href='@{/post}'|"
                type="button">취미 게시판 글보기</button>
    </div>
</div>
</body>
</html>